@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 8%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 0 72% 51%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 120 39% 39%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 44 95% 60%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 25.1%;
    --input: 12 6.5% 20.1%;
    --ring: 0 72% 51%;
    --chart-1: 0 72% 51%;
    --chart-2: 44 95% 60%;
    --chart-3: 120 40% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 8%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 0 72% 51%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 120 39% 39%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 44 95% 60%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 25.1%;
    --input: 12 6.5% 20.1%;
    --ring: 0 72% 51%;
    --chart-1: 0 72% 51%;
    --chart-2: 44 95% 60%;
    --chart-3: 120 40% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'PT Sans', sans-serif;
  }
}
